body {background-color: rgb(50, 90, 62);
        font-family: Georgia, 'Times New Roman', Times, serif ;}


h1, {font-family: 'Times New Roman', Times, serif;}

    .city {font-size:20px;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-style: oblique;
            color: beige;}
            

    .picture {width: 300px;
                border-radius: 100%;}

    
    .list {font-size: 12px;
            font-style: initial;}

