    <style>
             body {
                background-color: rgb(47, 90, 64);
                 }   
             h1, p {font-family: 'Poppins', sans-serif;
                }
             h1 {color: white}
            
            
              
             .Strong1 { font-size: 25px ; font-family: 'Times New Roman', Times, serif; }
             .frio {font-size:25px ;}
    
             .logica {font-size: 20px; ;}
    
             .pressao {font-size:15px ;}
    
    
         </style>